@model IEnumerable<WebApplication1.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>
<hr />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_unitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_registro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor_unitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_registro)
            </td>
            <td>
                @if(item.Estado == 1)
                    {
                        <button type="button" class="btn btn-success">Activo</button>
                    }
                    @if(item.Estado == 0)
                    {
                        <button type="button" class="btn btn-danger">Inactivo</button>  
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <button asp-action="Edit" type="button" class="btn btn-secondary" ><a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none; color: white;">Editar</a></button>
                <button asp-action="Details" type="button" class="btn btn-secondary" ><a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; color: white;">Ver detalle</a></button>
                <button asp-action="Delete" type="button" class="btn btn-secondary" ><a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none; color: white;">Eliminar</a></button>

            </td>
        </tr>
}
    </tbody>
</table>
